{{ define "main" }}
{{ if eq .Section "blog" }}
<article>
  <header class="post-header">
    <h1>{{ .Title }}</h1>
    <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
  </header>
  {{ if .Params.toc }}
  <details class="toc">
    <summary>Table of Contents</summary>
    {{ .TableOfContents }}
  </details>
  {{ end }}
  <div class="post-content">
    {{ .Content }}
  </div>
</article>
{{ else }}
<h1>{{ .Title }}</h1>
<div class="page-content">
  {{ .Content }}
</div>
{{ end }}
{{ end }}
